@use './rem-calc.scss' as rem-calc;

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: rem-calc.rem-calc(20) 0;
	border-radius: rem-calc.rem-calc(10);
	text-decoration: none;
  font-weight: 700;

	&__primary {
		color: var(--white);
		background: var(--primary-color);
	}

	&__secondary {
		color: var(--white);
		background: var(--secondary-color);
	}
}
