@import '../../../config-scss/rem-calc.scss';

:host {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem-calc(40) 0;
  }
} // indica que so sera aplicado a estilizacao dentro deste component
