@use './config-scss/variables.scss';
@use './config-scss/reset.scss';
@use './config-scss/rem-calc.scss' as rem-calc;
@use './config-scss/btn.scss';
@use './config-scss/animation.scss';

html {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-color);
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

main {
  max-width: rem-calc.rem-calc(600);
  margin: 0 auto;
  box-sizing: border-box;
}
